<h1><%= @inv_item.name %></h1>
<div>
  <span><%= @inv_item.description %></span>
</div>
<div>
  <h3>Clients with this item:</h3>
  <table>
    <tbody>
      <% @line_items.each do |item| %>
        <tr>
          <td><%= link_to item.client.name, client_url(item.client) %></td>
          <td><span><%= item.running_count %></span></td>
          <td><span><%="(last change: #{item.type} #{item.transaction_time.to_date})"%></span></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div>
  <form action="<%= inventory_item_url(@inv_item) %>" method="get">
    <label for="time">Search for stock at a different time:</label>
    <input type="datetime-local" name="time" id="time">
    <input type="submit"value="Search">
  </form>
</div>
