<h1><%= @inv_item.name %></h1>
<div>
  <span><%= @inv_item.description %></span>
</div>
<div>
  <h3>Clients with this item:</h3>
  <ul>
    <% @line_items.each do |item| %>
      <li>
        <%= link_to item.client.name, client_url(item.client) %>
        <span><%= item.running_count %></span>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <form action="<%= inventory_item_url(@line_item) %>" method="get">
    <label for="time">Search for stock at a different time:</label>
    <input type="datetime-local" name="time" id="time">
    <input type="submit"value="Search">
  </form>
</div>
