<!DOCTYPE html>
<html>
<head>
  <title>Zesty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
  <% flash.each do |key, msg| %>
    <%= "#{key}: #{msg}" %>
  <% end %>
  </div>
<%= link_to "View Clients", clients_url %>
<%= link_to "View Inventory", inventory_items_url %>
<%= link_to "Create Transaction", new_line_item_url %>
<%= yield %>

</body>
</html>
